<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/view/admin/css/index.css}">
    <link rel="stylesheet" th:href="@{/view/admin/css/commom.css}">
    <link rel="stylesheet" th:href="@{/view/admin/css/add_pd_pe.css}">
</head>

<body>
    <div class="header right">
        <a th:href="@{/pindex}">首页</a>
        <!-- <span>&gt;</span> -->
        <a href="index.html">
            <img src="view/admin/images/slogo.png" alt="" class="left">
        </a>
        <p class="right">
            <span>欢迎进入后台系统，管理员</span>
            <img src="" alt="" class="right">
        </p>
    </div>
    <div class="List left">
        <div id="first">
            <button class="accordion"> 首页</button>
            <button class="accordion">用户管理</button>
            <button class="accordion">商品管理</button>
            <ul class="btn-content">
                <li><button th:onclick="location='/HomeServlet/tindex'">戏曲票</button>
                </li>
                <li><button th:onclick="location='/HomeServlet/pindex'">戏曲文创</button></li>
            </ul>
            <button class="accordion">新闻管理</button>
            <ul class="btn-content">
                <li><button>剧院新闻</button></li>
                <li><button>文创新闻</button></li>
                <li><button>政策新闻</button></li>
            </ul>
            <button class="accordion">订单管理</button>
            <ul class="btn-content">
                <li><button>戏票订单</button></li>
                <li><button>文创订单</button></li>
            </ul>
            <button class="accordion">统计中心</button>
            <a href="login.html">退出管理</a>
        </div>
    </div>
    <div class="content left">
        <div class="common">
            <form th:action="@{'/mytindex'}" method="post">
                <span>请输入戏曲名称进行查询</span>
                <input type="text" class="keyword" name="keyword" />
                <input type="submit" value="查询" class="btn" name="searchone" id="wo">
                <input type="submit" value="显示所有" class="btn" name="searchtwo" />
                <input type="submit" value="添加" class="btn" name="good">
                <br>
            </form>
            <table id="ttbl_product">
                <tr>
                    <th class="w20">戏曲号</th>
                    <th class="w20">戏曲名称</th>
                    <th class="w20">票价</th>
                    <th class="w20">戏剧种类</th>
                    <th class="w20">操作</th>
                </tr>
                <!--  如果链表为空-->
                <tr th:if="${#lists.isEmpty(tickets)}"> </tr>

                <!--            如果链表不为空，取出数据-->
                <tr th:unless="${#lists.isEmpty(tickets)}" th:each="ticket:${tickets}">
                    <td th:text="${ticket.ticID}"></td>
                    <td><a th:href="@{/tedit(ticId=${ticket.ticID})}" th:text="${ticket.tname}"></a></td>
                    <td th:text="${ticket.tprice}"></td>
                    <td th:text="${ticket.tkind}"></td>
                    <td>
                        <a href="" th:href="@{/tdetail(ticID=${ticket.ticID})}">详情</a>
                        <a>删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script th:src="@{/view/admin/js/index.js}"></script>

</html>