<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/view/foreground/css/index.css}">
  <link rel="stylesheet" th:href="@{/view/foreground/css/common.css}">
</head>

<body>
  <div class="header">
    <div class="nav">
      <div class="left">
        <img src="view/foreground/images/logo1.png" alt="">
      </div>
      <div class="search">
        <input type="text" value="请输入搜索内容">
        <button>搜索</button>
      </div>
      <div class="right">
        <a href="http://localhost:8080/HomeServlet/regemail">登录 | 注册</a>
        <a href="" class="nowtime">2023-10-06&nbsp;&nbsp;&nbsp;星期五&nbsp;&nbsp;&nbsp;农历八月廿二</a>
      </div>
    </div>
    <div class="short">
      <ul class="item">
        <li><a th:href="@{/findex}">首页</a></li>
        <li><a href="#in">戏曲概述</a></li>
        <li><a href="/HomeServlet/view/foreground/second.html">发展历程</a>
          <ul>
            <li><a href="#">先秦</a></li>
            <li><a href="#">唐代中后期</a></li>
            <li><a href="#">宋金</a></li>
            <li><a href="#">元代</a></li>
            <li><a href="#">明清</a></li>
            <li><a href="#">近代</a></li>
            <li><a href="#">现代</a></li>
          </ul>
        </li>
        <li><a href="#char">戏曲行当</a>
          <ul>
            <li><a href="">生</a></li>
            <li><a href="">旦</a></li>
            <li><a href="">净</a></li>
            <li><a href="">丑</a></li>
          </ul>
        </li>
        <li><a href="#kindss">戏曲剧种</a>
          <ul>
            <li><a href="">京剧</a></li>
            <li><a href="">越剧</a></li>
            <li><a href="">黄梅戏</a></li>
            <li><a href="">评剧</a></li>
            <li><a href="">豫剧</a></li>
            <li><a href="">其余剧种</a></li>
          </ul>
        </li>
        <li><a th:href="@{/sindex}">商城首页</a></li>
        <li><a href="">剧院详情</a></li>
        <li><a href="#schooll">学术资源</a></li>
      </ul>
    </div>
    <div class="banner">
      <img src="view/foreground/images/banner01.png" alt="">
      <img src="view/foreground/images/banner02.png" alt="" style="display: none;">
      <img src="view/foreground/images/banner03.png" alt="" style="display: none;">
      <img src="view/foreground/images/banner04.png" alt="" style="display: none;">
      <img src="view/foreground/images/banner05.png" alt="" style="display: none;">
      <div class="toggle">
        <!-- 左侧按钮箭头 -->
        <a href="#" class="prev"> &lt; </a>
        <!-- 右侧按钮箭头 -->
        <a href="#" class="next"> &gt; </a>
      </div>
    </div>
    <div>
      <ul id="logo">
        <li class="active left"></li>
        <li class="left"></li>
        <li class="left"></li>
        <li class="left"></li>
        <li class="left"></li>
      </ul>
    </div>
  </div>
  <div class="main">
    <!-- 戏曲概述 -->
    <div class="in main_one">
      <a href="" name="in"></a>
      <div class="title">
        <h2>戏曲概述</h2>
      </div>
      <div class="pic">
        <div class="image right"></div>
        <p>
          中国戏曲主要是由民间歌舞、说唱和滑稽戏三种不同艺术形式综合而成。它起源于原始歌舞，是一种历史悠久的综合舞台艺术样式。经过汉、唐到宋、金才形成比较完整的戏曲艺术，它由文学、音乐、舞蹈、美术、武术、杂技以及表演艺术综合而成，约有三百六十多个种类。
          它的特点是将众多艺术形式以一种标准聚合在一起，在共同具有的性质中体现其各自的个性中国的戏曲与希腊悲剧和喜剧、印度梵剧并称为世界三大古老的戏剧文化，经过长期的发展演变，逐步形成了以“京剧、越剧、黄梅戏、评剧、豫剧”五大戏曲剧种为核心的中华戏曲百花苑。
        </p>
        <div class="write">
          <span>
            戏曲是我国传统戏剧的一个独特称谓。历史上最先使用戏曲这个名词的是宋刘埙（1240-1319），他在《词人吴用章传》中提出“永嘉戏曲”，他所说的“永嘉戏曲”，就是后人所说的“南戏”、“戏文”、“永嘉杂剧”。从近代王国维开始，才把“戏曲”用来作为中国传统戏剧文化的通称。戏曲最显著、最独特的艺术特点就是“曲”,“曲”主要由音乐和唱腔两部分构成,辨别一个地方戏剧种主要依靠声腔、音乐旋律和唱念上的地方性语言,如:四川的川剧、浙江的越剧、广东的粤剧、河南的豫剧、西北的秦腔、山东的吕剧、福建的闽剧、湖北的汉剧、河北的评剧、江苏的昆剧等。
          </span>
          <span>
            戏曲是中国传统艺术之一，剧种繁多有趣，表演形式载歌载舞，有说有唱，有文有武，集“唱、做、念、打”于一体，在世界戏剧史上独树一帜，其主要特点，以集古典戏曲艺术大成的京剧为例，一是男扮女（越剧中则常见为女扮男）；二是划分生、旦、净、丑四大行当；三是有夸张性的化装艺术--脸谱；四是“行头”(即戏曲服装和道具)有基本固定的式样和规格；五是利用“程式”进行表演。中国民族戏曲，从先秦的"俳优"、汉代的“百戏”、唐代的“参军戏”、宋代的杂剧、南宋的南戏、元代的杂剧，直到清代地方戏曲空前繁荣和京剧的形成。
          </span>
        </div>
      </div>
    </div>
    <!-- 戏曲概述 -->
    <!--四大行当  -->
    <div class="delop main_two">
      <a href="" name="char"></a>
      <!-- 角色 -->
      <div class="title">
        <h2>四大行当</h2>
      </div>
      <div class="top">
        <ul id="kind">
          <li class="left">
            <div class="img_box1"></div>
            <a href="" id="kind_top">
              <img src="view/foreground/images/sheng.jpg" alt="">
            </a>
          </li>
          <li class="left">
            <div class="img_box2" id="kind_top"></div>
            <a href="" id="kind_bottom">
              <img src="view/foreground/images/dan.jpg" alt="">
            </a>
          </li>
          <li class="left">
            <a href="" id="kind_top">
              <img src="view/foreground/images/jing.jpg" alt="">
            </a>
            <div class="img_box3 "></div>
          </li>
          <li class="left">
            <a href="" id="kind_bottom">
              <img src="view/foreground/images/chou.jpg" alt="">
            </a>
            <div class="img_box4" id="kind_top"></div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 四大行当 -->

    <!-- 中国五大戏曲 -->
    <div class="kinds main_three">
      <a href="" name="kindss"></a>
      <div class="title">
        <h2>五大剧种</h2>
      </div>
      <div class="kbox left">
        <a href="">京剧</a>
        <img src="view/foreground/images/jj.png" alt="">
      </div>
      <div class="kbox left">
        <a href="">越剧</a>
        <img src="view/foreground/images/yuju.jpg" alt="">
      </div>
      <div class="kbox left">
        <a href="">黄梅戏</a>
        <img src="view/foreground/images/hmx.jpg" alt="">
      </div>
      <div class="kbox left">
        <a href="">评剧</a>
        <img src="view/foreground/images/pj.jpg" alt="">
      </div>
      <div class="kbox left">
        <a href="">豫剧</a>
        <img src="view/foreground/images/yj.jpg" alt="">
      </div>
    </div>
    <!-- 中国五大戏曲 -->

    <!-- 戏曲名家 -->
    <div class="famous main_four">
      <div class="title">
        <a href=""></a>
        <h2>戏曲名家</h2>
      </div>
      <ul>
        <li>
          <img src="view/foreground/images/famous01.jpg" alt="">
          <span>梅兰芳</span>
        </li>
        <li><img src="view/foreground/images/famous02.jpg" alt=""><span>小白玉霜</span></li>
        <li><img src="view/foreground/images/famous03.jpg" alt=""><span>新凤霞</span></li>
        <li><img src="view/foreground/images/famous04.jpg" alt=""><span>严凤英</span></li>
        <li><img src="view/foreground/images/famous05.jpg" alt=""><span>程砚秋</span></li>
      </ul>
    </div>
    <!-- 戏曲名家 -->
    <!-- 学术资源 -->
    <div class="school main_five">
      <div class="title">
        <a href="" name="schooll"></a>
        <h2>学术资源</h2>
      </div>
      <div class="school_nav">
        <ul>
          <li class="news left">
            <h3>新闻动态</h3>
            <a href="#">更多</a>
            <div class="left">
              <img src="view/foreground/images/晋剧.jpg" alt="李白" title="李白" width="200">
              <ul id="news_ul">
                <li>
                  <a href="">
                    <p>中国燃版戏曲武侠《描红》成短剧届“霸王别姬”</p>
                  </a>
                  <span>2023.09.20</span>
                </li>
                <li>
                  <a href="">
                    <p>上海非遗在法国巴黎绽放华彩</p>
                  </a>
                  <span>2023.09.20</span>
                </li>
                <li>
                  <a href="">
                    <p>2023年京西“非遗礼物”设计大</p>
                  </a>
                  <span>2023.09.20</span>
                </li>
                <li>
                  <a href="">
                    <p>“迎中秋睇非遗”广东省非遗工</p>
                  </a>
                  <span>2023.09.20</span>
                </li>
                <li>
                  <a href="">
                    <p>“鼓乐和鸣天盛世”辽宁鼓乐对</p>
                  </a>
                  <span>2023.09.20</span>
                </li>
              </ul>
            </div>
          </li>
          <li class="mes left">
            <div class="mes_box">
              <h3>推荐曲目</h3>
              <a href="#">更多</a>
            </div>
            <div class="left">
              <ul id="mes_ul">
                <li><img src="view/foreground/images/simg01.jpg" alt=""></li>
                <li><img src="view/foreground/images/simg02.jpg" alt=""></li>
                <li><img src="view/foreground/images/simg03.jpg" alt=""></li>
                <li><img src="view/foreground/images/simg04.jpg" alt=""></li>
                <li><img src="view/foreground/images/simg05.jpg" alt=""></li>
                <li><img src="view/foreground/images/simg06.jpg" alt=""></li>
                <li><img src="view/foreground/images/simg07.jpg" alt=""></li>
                <li><img src="view/foreground/images/simg08.png" alt=""></li>
                <li><img src="view/foreground/images/simg09.jpg" alt=""></li>
                <li><img src="view/foreground/images/simg10.jpg" alt=""></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- 学术资源 -->
      <!-- </div> -->
    </div>
    <!-- 学术资源 -->

    <!-- 版权 -->
    <div class="footer">
      <ul>
        <li class="left">
          <a href="">网站地图</a>&nbsp;&nbsp;&nbsp;|
        </li>
        <li class="left">
          <a href="">关于我们</a>&nbsp;&nbsp;&nbsp;|
        </li>
        <li class="left">
          <a href="">联系我们</a>&nbsp;&nbsp;&nbsp;|
        </li>
        <li class="left">
          <a href="">版权声明</a>
        </li>
      </ul>
      <p>主管：中华人民共和国文化和旅游部 | 主办：中国艺术研究院 · 中国非物质文化遗产保护中心</p>
      <p>Copyright © 2018 中国非物质文化遗产网·中国非物质文化遗产数字博物馆. All Rights Reserved &nbsp;&nbsp;|
        &nbsp;&nbsp;京ICP备07504941号-3&nbsp;&nbsp; | &nbsp;&nbsp;京公安网备
        11010502042400</p>
      <p>建议使用360极速、Chrome、Firefox浏览器，最佳分辨率1920×1080</p>
    </div>



  </div>
  <!-- 电梯 -->
  <div class="elevator">
    <ul class="elevator-list">
      <li><a href="javascript:;" data-name="one">戏曲概述</a></li>
      <li><a href="javascript:;" data-name="two">四大行当</a></li>
      <li><a href="javascript:;" data-name="three">五大剧种</a></li>
      <li><a href="javascript:;" data-name="four">戏曲名家</a></li>
      <li><a href="javascript:;" data-name="five">学术资源</a></li>
      <li><a href="javascript:;" data-name="six" th:href="@{/sindex}">商城</a></li>
      <li><a href="javascript:;" id="backTop"><i class="sprites"></i>顶部</a></li>
    </ul>
  </div>
</body>

    <!-- 版权 -->

    <script src="view/foreground/js/index.js"></script>
    <script src="view/foreground/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $('#mes_ul li').mouseover(function (e) {
          $(this).siblings().stop().fadeTo(500, 0.4);
        });
        $('#mes_ul li').mouseout(function (e) {
          $(this).siblings().stop().fadeTo(500, 1);
        });
      })
    </script>
    <script src="view/foreground/js/jquery.js"></script>
    <script src="view/foreground/js/jquery.roundabout2.js"></script>

    <script>
      $(document).ready(function () {
        $('.famous ul').roundabout();
      });
    </script>

</html>