<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/view/foreground/css/relation.css}">
  <link rel="stylesheet" th:href="@{/view/foreground/css/222.css}">
</head>
<body>
<!--头部-->
<div class="header">
  <div class="shortcut">
    <a th:href="@{/findex}"><h5 class="left">中国戏曲网站</h5></a>
    <div class="right">
      <a th:href="@{/fapiao}">账户</a>
      <a th:href="@{/usere}"> <img src="view/foreground/images/dan.jpg" alt=""></a>
      <a th:href="@{/forget}">退出登录</a>
      <a th:href="@{/mycollect}">收藏</a>
      <a th:href="@{/gwc}">购物车</a>
    </div>
  </div>
  <div class="nav">
    <ul>
      <li><a th:href="@{/sindex}">首页</a></li>
      <li><a th:href="@{/pshow}">文创</a></li>
      <li><a th:href="@{/tshow}">演出购票</a></li>
      <li><a th:href="@{/new}">资讯动态</a></li>
      <li><a th:href="@{/reg}">登录 | 注册</a></li>
      <li>
        <a th:href="@{/relation}">联系我们</a>
      </li>
    </ul>
    <img src="view/foreground/images/center.png" alt="">
  </div>
  <div class="rbanner">
    <img src="view/foreground/images/banner05.png" alt="">
  </div>
</div>
<div class="rmain">
  <div class="new">
    <img src="view/foreground/images/dan.jpg">
    <div class="newlist">
      <h3>弘 扬 戏 曲 的 传 统 神 韵 和 时 代 之 美</h3>
      <br>
      <p><strong>【中工网|作者:戏曲宝宝】</strong></p>
      <br>
      <p>原标题:&nbsp;&nbsp;弘扬戏曲的传统神韵和时代之美</p>
      <p>戏曲是中华文化的瑰宝，过年看大戏是中国人的传统习俗。这些年，中央广播电视总台春节戏曲晚会对于观众
        尤其是戏迷来说，构成了“年味”的重要元素。今年，在传承情景表演节目《一脉相传》中，我和一群可爱的戏娃带来《定军山》选段表演，尚长荣、小香玉
        、萧雅、杨俊等戏曲名家，也在这个节目里分别和孩子们唱响经典选段。新时代，戏曲人接力奋斗、薪火相传的精神气象，让大家感慨万千
        </p>
      <br>
      <p>2024-2-25 10:43 来源:人民日报</p>
    </div>
  </div>
  <h1>
      戏曲咨询
  </h1>
  <div class="anew">
    <a href="">
      <p>2021年1月18日，中国戏剧学会在人民大会堂举行“2020年中国戏剧学会会员大会”。</p>
      <span>2024-02-25</span>
    </a>
    <a href="">
      <p>2021年1月18日，中国戏剧学会在人民大会堂举行“2020年中国戏剧学会会员大会”。</p>
      <span>2024-02-25</span>
    </a>
    <a href="">
      <p>2021年1月18日，中国戏剧学会在人民大会堂举行“2020年中国戏剧学会会员大会”。</p>
      <span>2024-02-25</span>
    </a>
    <a href="">
      <p>2021年1月18日，中国戏剧学会在人民大会堂举行“2020年中国戏剧学会会员大会”。</p>
      <span>2024-02-25</span>
    </a>
    <a href="">
      <p>(新春走基层)闽剧元素节目首次登上央视元宵晚会</p>
      <span>2024-02-25</span>
    </a>
  </div>
  <div id="nbanner">
    <img src="view/foreground/images/newbanner.png" alt="">
  </div>
  <h1>
    戏曲分类
  </h1>
  <ul class="category">
    <li><a href="">戏曲演出新闻</a></li>
    <li><a href="">戏曲人物新闻</a></li>
    <li><a href="">戏曲教育新闻</a></li>
    <li><a href="">戏曲文化新闻</a></li>
    <li><a href="">戏曲政策新闻</a></li>
  </ul>
  <div class="cnew">
    <img src="view/foreground/images/晋剧.jpg">
    <div>
      <h4>戏剧梅开四一载 香自苦寒报春来</h4>
      <br>
      <p>1983年，中国戏剧家协会以“梅花香自苦寒来”为寓意，创办表彰优秀戏剧表演人才的梅花奖，
        成为改革开放后推动剧坛复苏、催开姹紫嫣红的一朵“报春花”。40年来，726位梅花奖获得者在舞台
        上竞相绽放，成为推动中国戏剧艺术发展的中流砥柱。
      </p>
      <br>
      <p>2023-12-2710:43 中国戏剧梅花奖 戏曲艺术</p>
    </div>
  </div>
  <div class="cnew">
    <img src="view/foreground/images/晋剧.jpg">
    <div>
      <h4>戏剧梅开四一载 香自苦寒报春来</h4>
      <br>
      <p>1983年，中国戏剧家协会以“梅花香自苦寒来”为寓意，创办表彰优秀戏剧表演人才的梅花奖，
        成为改革开放后推动剧坛复苏、催开姹紫嫣红的一朵“报春花”。40年来，726位梅花奖获得者在舞台
        上竞相绽放，成为推动中国戏剧艺术发展的中流砥柱。
      </p>
      <br>
      <p>2023-12-2710:43 中国戏剧梅花奖 戏曲艺术</p>
    </div>
  </div>
  <div class="cnew">
    <img src="view/foreground/images/晋剧.jpg">
    <div>
      <h4>戏剧梅开四一载 香自苦寒报春来</h4>
      <br>
      <p>1983年，中国戏剧家协会以“梅花香自苦寒来”为寓意，创办表彰优秀戏剧表演人才的梅花奖，
        成为改革开放后推动剧坛复苏、催开姹紫嫣红的一朵“报春花”。40年来，726位梅花奖获得者在舞台
        上竞相绽放，成为推动中国戏剧艺术发展的中流砥柱。
      </p>
      <br>
      <p>2023-12-2710:43 中国戏剧梅花奖 戏曲艺术</p>
    </div>
  </div>
</div>
<!-- 版权 -->
<div class="footer">
  <ul>
    <li class="left">
      <a href="">网站地图</a>&nbsp;&nbsp;&nbsp;|
    </li>
    <li class="left">
      <a href="">关于我们</a>&nbsp;&nbsp;&nbsp;|
    </li>
    <li class="left">
      <a href="">联系我们</a>&nbsp;&nbsp;&nbsp;|
    </li>
    <li class="left">
      <a href="">版权声明</a>
    </li>
  </ul>
  <p>主管：中华人民共和国文化和旅游部 | 主办：中国艺术研究院 · 中国非物质文化遗产保护中心</p>
  <p>Copyright © 2018 中国非物质文化遗产网·中国非物质文化遗产数字博物馆. All Rights Reserved &nbsp;&nbsp;|
    &nbsp;&nbsp;京ICP备07504941号-3&nbsp;&nbsp; | &nbsp;&nbsp;京公安网备
    11010502042400</p>
  <p>建议使用360极速、Chrome、Firefox浏览器，最佳分辨率1920×1080</p>
</div>
</body>
</html>