<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/view/foreground/css/relation.css}">
    <link rel="stylesheet" th:href="@{/view/foreground/css/222.css}">
</head>
<body>
<!--头部-->
<div class="header">
    <div class="shortcut">
        <a th:href="@{/findex}"><h5 class="left">中国戏曲网站</h5></a>
        <div class="right">
            <a th:href="@{/fapiao}">账户</a>
            <a th:href="@{/usere}"> <img src="view/foreground/images/dan.jpg" alt=""></a>
            <a th:href="@{/forget}">退出登录</a>
            <a th:href="@{/mycollect}">收藏</a>
            <a th:href="@{/gwc}">购物车</a>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li><a th:href="@{/sindex}">首页</a></li>
            <li><a th:href="@{/pshow}">文创</a></li>
            <li><a th:href="@{/tshow}">演出购票</a></li>
            <li><a th:href="@{/new}">资讯动态</a></li>
            <li><a th:href="@{/reg}">登录 | 注册</a></li>
            <li>
                <a th:href="@{/relation}">联系我们</a>
            </li>
        </ul>
        <img src="view/foreground/images/center.png" alt="">
    </div>
    <div class="rbanner">
        <img src="view/foreground/images/banner05.png" alt="">
    </div>
</div>
<div class="rmain">
    <h1>
        联系方式
    </h1>
    <div class="plist">
        <p>微信：xuabxBXYiuHSoisj</p>
        <p>QQ：2064195589780</p>
        <p>微博：中国戏曲网站</p>
        <p>邮箱：ucgenrt@163.com</p>
        <img src="view/foreground/images/bj01.png">
    </div>
    <h1>
        留言
    </h1>
    <div class="plist">
        <p>敬请期待。。。</p>
    </div>
</div>
<!-- 版权 -->
<div class="footer">
    <ul>
        <li class="left">
            <a href="">网站地图</a>&nbsp;&nbsp;&nbsp;|
        </li>
        <li class="left">
            <a href="">关于我们</a>&nbsp;&nbsp;&nbsp;|
        </li>
        <li class="left">
            <a href="">联系我们</a>&nbsp;&nbsp;&nbsp;|
        </li>
        <li class="left">
            <a href="">版权声明</a>
        </li>
    </ul>
    <p>主管：中华人民共和国文化和旅游部 | 主办：中国艺术研究院 · 中国非物质文化遗产保护中心</p>
    <p>Copyright © 2018 中国非物质文化遗产网·中国非物质文化遗产数字博物馆. All Rights Reserved &nbsp;&nbsp;|
        &nbsp;&nbsp;京ICP备07504941号-3&nbsp;&nbsp; | &nbsp;&nbsp;京公安网备
        11010502042400</p>
    <p>建议使用360极速、Chrome、Firefox浏览器，最佳分辨率1920×1080</p>
</div>
</body>
</html>