<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/HomeServlet/view/foreground/css/second.css">
  <link rel="stylesheet" href="/HomeServlet/view/foreground/css/common.css">
</head>

<body>
  <div class="header">
    <div class="nav">
      <div class="left">
        <img src="/HomeServlet/view/foreground/images/logo1.png" alt="">
      </div>
      <div class="search">
        <input type="text" value="请输入搜索内容">
        <button>搜索</button>
      </div>
      <div class="right">
        <a href="http://localhost:8080/HomeServlet/regemail">登录 | 注册</a>
        <a th:href="@{/sindex}">商城</a>
      </div>
    </div>
    <div class="short">
      <ul class="item">
        <li><a href="http://localhost:8080/HomeServlet/findex">首页</a></li>
        <li><a href="#in" >戏曲概述</a></li>
        <li><a href="/HomeServlet/view/foreground/second.html">发展历程</a>
          <ul>
            <li><a href="#">先秦</a></li>
            <li><a href="#">唐代中后期</a></li>
            <li><a href="#">宋金</a></li>
            <li><a href="#">元代</a></li>
            <li><a href="#">明清</a></li>
            <li><a href="#">近代</a></li>
            <li><a href="#">现代</a></li>
          </ul>
        </li>
        <li><a href="#char">戏曲行当</a>
          <ul>
            <li><a href="">生</a></li>
            <li><a href="">旦</a></li>
            <li><a href="">净</a></li>
            <li><a href="">丑</a></li>
          </ul>
        </li>
        <li><a href="#kindss">戏曲剧种</a>
          <ul>
            <li><a href="">京剧</a></li>
            <li><a href="">越剧</a></li>
            <li><a href="">黄梅戏</a></li>
            <li><a href="">评剧</a></li>
            <li><a href="">豫剧</a></li>
            <li><a href="">其余剧种</a></li>
          </ul>
        </li>
        <li><a href="">戏曲脸谱</a>
          <ul>
            <li><a href="">谱式分类</a></li>
            <li><a href="">谱色分类</a></li>
          </ul>
        </li>
        <li><a href="">戏曲音乐</a>
          <ul>
            <li><a href="">唱腔</a></li>
            <li><a href="">念白</a></li>
            <li><a href="">器乐</a></li>
          </ul>
        </li>
        <li><a href="#schooll">学术资源</a></li>
      </ul>
    </div>
    <div class="banner">
      <img src="/HomeServlet/view/foreground/images/banner01.png" alt="">
    </div>
  </div>
  <div class="main">
    <div class="first borderr">
      <img src="/HomeServlet/view/foreground/images/bj01.png" alt="">
      <div class="h left">
        <h1>先秦</h1>
        <h4>(萌芽期)</h4>
      </div>
      <p>
        戏曲是我国传统的戏剧形式,是我国最具有民族特点和风格的艺术样式之一。其最早可以追溯到上古时代用来娱神的原始歌舞。《尚书尧典》上说:“於!子击石拊石,百鲁率舞。”《吕氏春秋古乐》上也说:“昔葛天氏之乐,三人操牛尾,投足以歌八阙:一曰《载民》,二日《玄鸟》,三日《遂草木》四日《奋五谷》五日《敬天常》六曰《达帝功》,七曰《依地德》八曰《总禽兽之极》。”如在许多古老的农村，
        还保持着源远流长的歌舞传统，如“傩戏”；同时，一些新的歌舞如“社火”、“秧歌”等适应人民的精神需求而诞生。正是这些歌舞演出，造就出一批又一批技艺娴熟的民间艺人，并向着戏曲的方向一点点迈进。
      </p>
      <p>
        《诗经》里的“颂”，《楚辞》里的“九歌”，就是祭神时歌舞的唱词。从春秋战国到汉代，在娱神的歌舞中逐渐演变出娱人的歌舞。从汉魏到中唐，又先后出现了以竞技为主的“角抵”（即百戏）、以问答方式表演的“参军戏”和扮演生活小故事的歌舞“踏摇娘”等，这些都是<strong>萌芽状态</strong>的戏剧。
      </p>
    </div>

    <div class="second borderr">
      <div class="sh left">
        <h1>唐代中后期</h1>
        <h4>（形成期）</h4>
      </div>
      <p>
        中唐以后，中国戏剧飞跃发展，戏剧艺术逐渐形成。
      </p>
      <p>
        唐代文学艺术的繁荣，是经济高度发展的结果，促进了戏曲艺术的自立门户，并给戏曲艺术以丰富的营养，诗歌的声律和叙事诗的成熟给了戏曲决定性影响。音乐舞蹈的昌盛，为戏曲提供了最雄厚的表演、唱腔的基础。教坊梨园的专业性研究，正规化训练，提高了艺人们的艺术水平，使歌舞戏剧化历程加快，产生了一批用歌舞演故事的戏曲剧目。
      </p>
    </div>

    <div class="third borderr">
      <div class="h left">
        <h1>宋金</h1>
        <h4>(发展期)</h4>
      </div>
      <p>
        宋代的“杂剧”，金代的“院本”和讲唱形式的“诸宫调”，从乐曲、结构到内容，都为元代杂剧打下了基础。
      </p>
    </div>
    <div class="first borderr">
      <img src="/HomeServlet/view/foreground/images/bj02.png" alt="" class="bj">
      <div class="h left">
        <h1>元代</h1>
        <h4>（成熟期）</h4>
      </div>
      <p>
        到了元代，“杂剧”就在原有基础上大大发展，成为一种新型的戏剧。它具备了戏剧的基本特点，标志着中国戏剧进入成熟的阶段。
        12世纪中期到13世纪初，逐渐产生了职业艺术和商业性的演出团体及反映市民生活和观点的元杂剧和金院本，如关汉卿创作的《窦娥冤》、马致远的《汉宫秋》以及《赵氏孤儿大报仇》等作品。这个时期是戏曲舞台的繁荣时期。
      </p>
      <p>
        元杂剧不仅是一种成熟的高级戏剧形态，还因其最富于时代特色，最具有艺术独创性，而被视为一代文学的主流。元杂剧最初以大都（今北京）为中心，流行于北方。元灭南宋后，发展成为全国性的剧种。元代的剧坛，群星璀璨、名作如云。
        元杂剧得以呈一代之盛，艺术发展和社会现实从两个方面提供了契机。从艺术的自身发展来看，戏剧经过漫长的孕育和迟缓的流程，已经有了很厚实的积累，在内部结构和外在表现上都达到了成熟。恰恰此时的传统诗文，在经历了唐宋鼎盛与辉煌之后，走向衰微。在有才华的艺术家眼里，剧坛艺苑是一块等待他们去耕耘的新土地。从社会现实方面来看，元蒙统治者废除科举制度，不仅断绝了知识分子跻身仕途的可能，而且把他们贬到低下的地位：只比乞丐高一等，居于普通百姓及娼妓之下。这些修养颇高的文化人，被沉入社会底层。在疏远经史，冷淡诗文的无可奈何之中，他们只有到勾栏瓦舍去打发光阴、去寻求生路。于是，新兴的元杂剧意外地获得一批又一批的专业创作者。
      </p>
    </div>
    <div class="first borderr">
      <img src="/HomeServlet/view/foreground/images/bj03.png" alt="" class="bj3">
      <div class="h left">
        <h1>明清</h1>
        <h4>(萌芽期)</h4>
      </div>
      <p>
        戏曲到了明代，传奇发展起来了。明代传奇的前身是宋元时代的南戏（南戏是南曲戏文的简称，它是在宋代杂剧的基础上，与南方地区曲调结合而发展起来的一种新兴的戏剧形式。温州是它的发祥地）。南戏在体制上与北杂剧不同：它不受四折的限制，经过文人的加工和提高，这种本来不够严整的短小戏曲，终于变成相当完整的长篇剧作。例如高明的《琵琶记》就是一部由南戏向传奇过渡的作品。这部作品的题材，来源于民间传说，比较完整地表现了一个故事，并且有一定的戏剧性，曾被誉为“南戏中兴之祖”。
      </p>
      <p>
        明代中叶，传奇作家和剧本大量涌现，其中成就最大的是汤显祖。他一生写了许多传奇剧本，《牡丹亭》是他的代表作。作品通过杜丽娘和柳梦梅死生离合的故事，歌颂了反对封建礼教，追求幸福爱情，要求个性解放的反抗精神。作者给爱情以起死回生的力量，它战胜了封建礼教的束缚，取得了最后胜利。这一点，在当时封建礼教牢固统治的社会里，是有深远的社会意义的。这个剧作问世三百年来，一直受到读者和观众的喜爱，直到今天，“闺塾”、“惊梦”等片断还活跃在戏曲表演的舞台上。
        16世纪明朝中叶，江南兴起了昆腔，涌出了《十五贯》、《占花魁》等戏曲剧目。这一时期受农民欢迎的戏是产生于安徽、江西的弋阳腔，昆腔受封建上层人士的欢迎
      </p>
      <p>
        明后期的舞台，开始流行以演折子戏为主的风尚。所谓折子戏，是指从有头有尾的全本传奇剧目中摘选出来的出目。它只是全剧中相对独立的一些片断，但是在这些片断里，场面精彩，唱做俱佳。折子戏的脱颖而出，是戏剧表演艺术强劲发展的结果，又是时间与舞台淘洗的必然。观众在熟悉剧情之后，便可尽情地欣赏折子戏的表演技艺了。《牡丹亭》中的“游园”、“惊梦”，《拜月亭记》中的“踏伞”、“拜月”，《玉簪记》中的“琴挑”、“追舟”等众多的折子戏，已成为观众爱看、耐看的精品。
      </p>
      <p>
        明末清初的作品多是写人民群众心中的英雄，如穆桂英、陶三春、赵匡胤等。这时的地方戏，主要有北方梆子和南方的皮黄。京剧是在清代地方戏高度繁荣的基础上产生的。在同治、光绪年间，出现了名列“同光十三绝”的第一代京剧表演艺术家及不同流派的宗师，标志着京剧艺术的成熟与兴盛。不久京剧向全国发展，特别是在上海、天津，京剧成为具有广泛影响的剧种，将中国的戏曲艺术推进到一个新的高度。
      </p>
    </div>
    <div class="first borderr">
      <img src="/HomeServlet/view/foreground/images/bj04.png" alt="" class="bj4">
      <div class="h left">
        <h1>近代</h1>
        <h4>（革新期）</h4>
      </div>
      <p>
        辛亥革命前后，一批有造诣的戏曲艺术家从事戏曲艺术改良活动，著名的有汪笑侬、潘月樵、夏月珊等，他们为以后的戏曲改良积累了宝资的经验。从1919年“五四运动”到中华人民共和国成立，在这段时期内，一些志之士对戏曲进行了改革。
        梅兰芳在“五四"前夕演出了《邓粗姑》《一缕麻》等宣传民主思想的时装新戏，周信芳、程砚秋等也创作了不少的作品。
        袁雪芬则高举越剧改革之大旗，主演鲁迅名著《祥林嫂》，在中国戏曲中率先形成了融合编、导、舞、音、美为一体的综合艺术机制。“率先开始了中国戏曲艺术大写意与大写实相结合的机制。
      </p>
    </div>
    <div class="first borderr">
      <div class="h left">
        <h1>现代</h1>
        <h4>（争辉期）</h4>
      </div>
      <p>
        新中国成立后，涌现了一批优秀剧目，如京剧《将相和》、《白蛇传》，评剧《秦香莲》，越剧《梁山伯与祝英台》，昆剧《十五贯》等，著名历史学家吴晗还撰写了历史京剧《海瑞罢官》。以后，又陆续推出一系列优秀作品，如京剧《白毛女》、《红灯记》、《奇袭白虎团》，越剧《西厢记》，评剧《刘巧儿》，沪剧《芦荡火种》，豫剧《朝阳沟》等。粉碎“四人帮”后，觅逑了戏曲艺术队伍，为群众喜爱但被停演或遭到批判的大量传统剧，如京剧《谢瑶环》，莆仙剧《春草闯堂》，吕剧《姊妹易嫁》等也得以重新上演。戏曲艺术发展到今天，经过不同的时代，不断适应新时代、新观众的需要，保持和发扬民族传统的艺术特色，戏曲界提出的“现代化”与“戏曲化“的问题，已成为新的历史时期积极探讨和积极实践的问题。
      </p>
    </div>
  </div>

  <!-- 版权 -->
  <div class="footer">
    <ul>
      <li class="left">
        <a href="">网站地图</a>&nbsp;&nbsp;&nbsp;|
      </li>
      <li class="left">
        <a href="">关于我们</a>&nbsp;&nbsp;&nbsp;|
      </li>
      <li class="left">
        <a href="">联系我们</a>&nbsp;&nbsp;&nbsp;|
      </li>
      <li class="left">
        <a href="">版权声明</a>
      </li>
    </ul>
    <p>主管：中华人民共和国文化和旅游部 | 主办：中国艺术研究院 · 中国非物质文化遗产保护中心</p>
    <p>Copyright © 2018 中国非物质文化遗产网·中国非物质文化遗产数字博物馆. All Rights Reserved &nbsp;&nbsp;|
      &nbsp;&nbsp;京ICP备07504941号-3&nbsp;&nbsp; | &nbsp;&nbsp;京公安网备
      11010502042400</p>
    <p>建议使用360极速、Chrome、Firefox浏览器，最佳分辨率1920×1080</p>
  </div>

  <!-- 版权 -->
</body>

</html>